<div class="container-fluid aligncenter top">
  <h1>イケフレ</h1>
  <h2>あなたのイケてる友達は誰？</h2>
</div>
<%= link_to "Facebookでさがす！", user_omniauth_authorize_path(:facebook), class: "btn btn-danger" %>
<%= image_tag 'arashi-1.jpg', :class=>"arashi"%>
<%= image_tag 'akb2.jpg', :class=>"floatright akb"%>
<%= link_to "Facebookでさがす！", user_omniauth_authorize_path(:facebook), class: "btn btn-danger" %>