  <div class="container-fluid aligncenter top">
    イケフレ
  </div>

<%= image_tag 'arashi2.jpg' %>
<%= image_tag 'AKB.jpg', :class=>"floatright"%>
<%= link_to "Facebookでさがす！", user_omniauth_authorize_path(:facebook), class: "btn btn-default" %>